/*let the sizing doesn't need to consider about padding and margin*/
* {
    box-sizing: border-box;
}

/*default or zero*/
body {
    margin: 50px;
}

/*style the header*/
.header{
    width: 100%;
    height: 30vh;
    background-image: url("canvas.jpg"), url("leaves.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-blend-mode: lighten;
}

/*style the content*/
.content{
    padding: 10px;
    height: 100vh;
    float: left;
}
.content.canvas{
    position: relative;
    width: 70%;
    border: 3px solid red;
}
.content.tools{
    font-size: 20px;
    width: 30%;
    border: 5px solid orange;
    background-image: url("wood.jpg")
}

/*style the footer*/
.footer{
    padding: 20px;
    border: 5px solid yellow;
}

/*canvas border*/
#myCanvas{
    border: 10px solid black;
}

/*style the button*/
.mybtn{
    border: 1px solid brown;
    background-color: rgba(255,255,255,0.4);
    margin: 5px;
}
.mybtn:hover{
    background-color: rgba(100,100,100,0.2);
}

/*style the label*/
.mylabel{
    border: 3px solid black;
    float: right;
}

